<div class='row'>
  <div class='col-md-4'>
    <pm-product-list [displayCode]="displayCode$ | async" [errorMessage]="errorMessage$ | async"
      [products]="products$ | async" [selectedProduct]="currentProduct$ | async" (checked)="checkChanged($event)"
      (initializeNewProduct)="newProduct()" (selected)="selected($event)">
    </pm-product-list>
  </div>
  <div class='col-md-8'>
    <pm-product-edit [product]="currentProduct$ | async" (delete)="delete($event)" (clear)="clear()" (add)="add($event)"
      (update)="update($event)">
    </pm-product-edit>
  </div>
</div>